.ipLookupFormContainer {
    /* width: 400px; */
    /* background-color: #f5f5f5; */
    /* border: 1px solid #CCC; */
    background-color: #FFF;
    border: none;
    padding: 10px 10px;
}

.ipResponse {
    background-color: #f4f4f4;
    display: block;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.flag {
    font-size: 32px;
}

.exampleIpList {
    list-style-type: none;
    margin: 0 auto 10;
    padding: 0;
    overflow: hidden;
    width: 100%;
    align-items: center;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.exampleIpList li {
    display: inline-block;
    margin: 0px 0;
}


.exampleIpList li a {
    display: block;
    color: rgb(10, 118, 195);
    background-color: #e4eeff;
    text-align: center;
    padding: 5px;
    margin: 0 5px 5px 0;
    text-decoration: none;
}

.exampleIpList li a:hover {
    background-color: #d8e5fb;
    text-decoration: underline;
}

.exampleIpList li a:active {
    background-color: #c1d5f8;
}

.form-container {
    margin: 0px 10px;
}