.playground {
    width: 100%;
}
.playground textarea {
    border: none;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 5px 10px;
    resize: none;
    /* height: 2em; */
    min-height: 2em;
    width: 100%;
    overflow-wrap: normal;
    white-space: pre;
    background-color: #f1f1f1;
    line-height: 1.4;
    font-size: 14px;
}

.playground textarea:focus {
    /* border: 1px solid #555555; */
    background-color: #f8f8f8;
    outline: none;
}

.playground > .result {
    display: none;
    width: 100%;
    color: #FFF;
    background-color: #525252;
}

.playground .timing {
    margin: 19px 0px;
    float: left;
}

.playground pre {
    padding: 10px 10px;
    overflow-x: auto;
    font-weight: normal;
    width: 100%;
    box-sizing: border-box;
}

.codeBlock {
    width: 100%;
}

.codeBlock > span {
    background-color: #ffffff;
    font-style: italic;
    width: 100%;
    display: inline-block;
    padding: 5px 0px;
}
.codeBlock > code {
    padding: 0px 0px;
    line-height: 1.4;
}